/*引用base文件*/
@import "../css/base.css";
//通用规则编写
$blue:#0175bf;
@mixin FS($FontSize:12px){
    font-size: $FontSize;
}
/*主内容编写*/
header{
    width:100%;
    height: 40px;
    line-height: 40px;
    @include FS(30px);
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
section{
    width:100%;
    padding: 0 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
    h2{
        @include FS(20px);
        background: $blue;
        display: inline-block;
        padding:5px 10px;
    }
    h3{
        @include FS(16px);
    }
    p{
        @include FS(12px);
    }
    video{
        width:240px;
        height: 240px;
        margin: 0 auto;
        display: block;
    }
}